<%= form_for @energy_usage, :html => { :class => "form-horizontal energy_usage" } do |f| %>

  <% if @energy_usage.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@energy_usage.errors.count, "error") %> prohibited this energy_usage from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @energy_usage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :period_start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :period_start, :class => 'form-control' %>
    </div>
    <%=f.error_span(:period_start) %>
  </div>
  <div class="form-group">
    <%= f.label :amount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:amount) %>
  </div>
  <div class="form-group">
    <%= f.label :energy_meter_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :energy_meter_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:energy_meter_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                energy_usages_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
